<div class="container">
  <div #orderSummary class="content"> <!-- Add #orderSummary here for PDF capture -->
    <app-title title="Order Summary" fontSize="1.6rem"></app-title>
    <div class="summary">
      <div>
        <h3>Name:</h3>
        <span>{{ order.name }}</span>
      </div>
      <div>
        <h3>Address:</h3>
        <span>{{ order.address }}</span>
      </div>
    </div>
    <order-items-list [order]="order"></order-items-list>
  </div>
  <div class="map">
    <app-title title="Shipping Address" fontSize="1.6rem"></app-title>
    <map [order]="order" [readonly]="true"></map>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <button (click)="saveOrderDirectly()">Complete Order</button>
      <button (click)="downloadOrderSummary()">Download Order Summary</button> <!-- Download button -->
    </div>
  </div>

  <!-- Display the success message -->
  <div *ngIf="successMessage" class="alert alert-success" style="margin-top: 20px;">
    {{ successMessage }}
  </div>
</div>
