.container {
  margin-top: 1rem;
  display: flex;
  margin: 0 2rem 6rem; /* Removed redundant margin */
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  width: 35rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.summary > div {
  display: flex;
  margin-top: 0.7rem;
}

.summary span {
  font-size: 1.2rem;
}

.summary h3 {
  margin: 0 1rem 0 0;
  flex-basis: 5rem; /* Ensures h3 takes consistent space */
}

/* Style for the buttons container */
.buttons-container {
  flex-basis: 100%; /* Ensure this takes full width */
  display: flex;
  justify-content: center;
}

/* Style for the button wrapper */
.buttons {
  margin: 2rem;
  width: 35rem; /* Width should match the content for alignment */
}

/* Optional: Style for the alert message */
.alert {
  padding: 15px;
  margin: 10px 0; /* Margin around the alert */
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
}

.alert-success {
  border-color: #c3e6cb; /* Border color for success */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .container {
    margin: 1rem; /* Adjust margin for smaller screens */
    flex-direction: column; /* Stack elements vertically */
  }

  .content,
  .buttons {
    width: 100%; /* Full width for smaller screens */
    margin: 0; /* Remove side margins for compact view */
  }

  .buttons-container {
    justify-content: flex-start;
  }
}

